* {
	box-sizing: border-box;
	text-decoration: none;
	color: #FCEADE;
}

body {
	background-color: #BFB6BB;
}

.top-nav {
	background: #;
}

.navbar {
	display: flex;
	font-size: 30px;
	padding: 10px 20px;
	/*justify-content: space-between;*/
}

.nav-toggle {
	margin-left: auto;
	cursor:pointer;
}
.nav-list {
	list-style: none;
	font-size: 24px;
}

.nav-list-collapsed {
	display: none;
}

ul {

}

li {
	text-align: center;
}

.header-image {
	max-height: 640px;
	max-width: 426px;
}

.input-changes {
	display: flex;
	height: 24px;
	width: 224px;
	padding: 12px;
	margin: 1%;
}

.subscribe-choice {
	display: flex;
}
button {
	display: flex;
	color: #424B54;
}

h1 {
	padding: 10px;
}

.container {
	text-align: center;
}

input {
	display: center;
}